body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

#root {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.table-container {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    overflow: hidden;
}

.table {
    min-height: 800px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px;
}
.filter {
    display: flex;
    flex-direction: column;
}

.filter label {
    margin-bottom: 5px;
    font-weight: bold;
}

.random-button {
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.random-button:hover {
    background-color: #1151a1;
}

.filters select, .filters input {
    background: white;
    color: black;
    padding: 0px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 150px;
    height: 32px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

tr:hover {
    background-color: #e8f8f5;
    color: #333;
}

h4 {
    margin: 0;
    color: #2980b9;
}

.expanded-book {
    display: flex;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

    .expanded-book h2 {
        font-size: 36px;
        margin: 2px;
    }
    .expanded-book h3 {
        font-size: 20px;
        margin: 2px;
        margin-top: 10px;
    }
    .expanded-book h4 {
        font-size: 18px;
        margin: 2px;
        color: #555;
    }

.publisher {
    font-size: 16px;
    margin-bottom: 12px;
    font-style: italic;
    margin: 2px;
    color: #777;
}


.book-details {
    flex: 1;
}

.review {
    font-size: 16px;
    margin: 10px;
}

.review-text {
    margin: 0;
}

.reviewer {
    padding: 0px 10px;
    margin: 0;
    font-style: italic;
    color: #777;
}

.likes {
    margin-top: 30px;
    text-align:center;

}

.image-container {
    position: relative;
    margin: 10px;
    height: 225px;
}
    .image-container img {
        border-radius: 8px;
        max-width: 150px;
        max-height: 250px;
        margin-right: 10px;
        margin: 0;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    border-radius: 8px; /* Match the image corners */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Transition for fade effect */
}

.image-container:hover .overlay {
    opacity: 0.8;
}